{% extends 'index.html' %} {% block header %}
<h1>{% block title %}Eventos{% endblock %}</h1>
{% endblock %} {% block content %}
<br />

<h3>Criar Evento</h3>

<form class="create-form">
  <div class="input-group mb-3">
    <span class="input-group-text">Nome</span>
    <input
      name="name"
      type="text"
      class="form-control"
      placeholder="nome"
      aria-label="nome"
    />
    <span class="input-group-text">começa em</span>
    <input
      name="start_at"
      type="date"
      class="form-control"
      placeholder="começa em"
      aria-label="start_at"
    />
    <span class="input-group-text">termina em</span>
    <input
      name="end_at"
      type="date"
      class="form-control"
      placeholder="termina em"
      aria-label="Sexo"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">descrição</span>
    <input
      name="description"
      type="text"
      class="form-control"
      placeholder="descrição"
      aria-label="description"
    />
    <span class="input-group-text">foto de capa</span>
    <input
      name="event_picture"
      type="text"
      class="form-control"
      placeholder="foto de capa"
      aria-label="event_picture"
    />
    <span class="input-group-text">localização</span>
    <input
      name="location"
      type="text"
      class="form-control"
      placeholder="localização"
      aria-label="location"
    />
    <span class="input-group-text">pontos</span>
    <input
      name="reward"
      type="number"
      class="form-control"
      placeholder="pontos"
      aria-label="pontos"
    />
    <button type="button" class="me-2 btn btn-primary" onclick="create()">
      criar
    </button>
  </div>
</form>

<table class="table" id="events">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Começa em</th>
      <th scope="col">Termina em</th>
      <th scope="col">descrição</th>
      <th scope="col">foto de capa</th>
      <th scope="col">localização</th>
      <th scope="col">pontos</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in events %}
    <tr>
      <form class="form{{item.id}}">
        <div class="input-group mb-3">
          <th scope="row">
            <input name="id" value="{{ item.id }}" hidden />
            <input
              name="name"
              value="{{ item.name }}"
              id="nome{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="nome"
              aria-label="nome"
            />
          </th>
          <th>
            <input
              name="start_at"
              value="{{ item.start_at }}"              
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="começa em"
              aria-label="começa em"
            />
          </th>
          <th>
            <input
              name="end_at"
              value="{{ item.end_at }}"             
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="termina em"
              aria-label="termina em"
            />
          </th>
          <th>
            <input
              name="description"
              value="{{ item.description }}"
              id="description{{ item.id }}"
              disabled
              type="text"
              class="form-control"
              placeholder="descrição"
            />
          </th>
          <th>
            <input
              name="event_picture"
              value="{{ item.event_picture }}"
              id="event_picture{{ item.id }}"
              disabled
              type="text"
              class="form-control"
              placeholder="foto de capa"
            />
          </th>
          <th>
            <input
              name="location"
              value="{{ item.location }}"
              id="location{{ item.id }}"
              disabled
              type="text"
              class="form-control"
              placeholder="localização"
            />
          </th>
          <th>
            <input
              name="reward"
              value="{{ item.reward }}"
              disabled
              type="number"
              id="reward{{ item.id }}"
              class="form-control"
              placeholder="pontos"
            />
          </th>
          <th>
            <button
              type="button"
              class="btn btn-primary"
              onclick="enableEditing('nome{{item.id}}', 'description{{item.id}}', 'event_picture{{item.id}}', 'location{{item.id}}', 'reward{{item.id}}')"
            >
              editar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-success"
              onclick="save('{{item.id}}')"
            >
              salvar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-danger"
              onclick="destroy('{{item.id}}')"
            >
              deletar
            </button>
          </th>
        </div>
      </form>
      {% endfor %}
    </tr>
  </tbody>
</table>

<script src="{{ url_for('static', filename='scripts/event.js') }}"></script>
{% endblock %}
