{% extends 'index.html' %} {% block header %}
<h1>{% block title %}Gerenciador de cursos{% endblock %}</h1>
{% endblock %} {% block content %}
<br />

<h3>Criar curso</h3>

<form class="create-form">
  <div class="input-group mb-3">
    <span class="input-group-text">Nome</span>
    <input
      name="name"
      type="text"
      class="form-control"
      placeholder="nome"
      aria-label="nome"
    />
    <select name="university" class="form-select">
      {% for item in universities %}
      <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
    </select>
    <span class="input-group-text">Ranking</span>
    <input
      name="ranking"
      type="number"
      class="form-control"
      placeholder="ranking"
      aria-label="ranking"
    />
    <button type="button" class="me-2 btn btn-primary" onclick="create()">
      criar
    </button>
  </div>
</form>

<table class="table" id="universities">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Universidade</th>
      <th scope="col">Ranking</th>
      <th scope="col">Criado por</th>
      <th scope="col">Criado em</th>
      <th scope="col">Atualizado por</th>
      <th scope="col">Atualizado em</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in courses %}
    <tr>
      <form class="form{{item.id}}">
        <div class="input-group mb-3">
          <th scope="row">
            <input name="id" value="{{ item.id }}" hidden />
            <input
              name="name"
              value="{{ item.name }}"
              id="nome{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="nome"
              aria-label="nome"
            />
          </th>
          <th>
            <select
              disabled
              class="form-select {{ item.id }}"
              id="university{{ item.id }}"
            >
              {% for university in universities %} {% if university.id ==
              item.university_id %}
              <option selected>university.name</option>
              {% else %}
              <option>university.name</option>
              {% endif %} {% endfor %}
            </select>
          </th>
          <th>
            <input
              name="ranking"
              value="{{ item.ranking }}"
              id="ranking{{ item.id }}"
              disabled
              type="number"
              class="form-control {{ item.id }}"
              placeholder="ranking"
              aria-label="ranking"
            />
          </th>
          <th>
            <input
              name="criado por"
              value="{{ item.created_by }}"
              disabled
              type="text"
              class="form-control"
              placeholder="criado por"
            />
          </th>
          <th>
            <input
              name="criado em"
              value="{{ item.created_at }}"
              disabled
              type="text"
              class="form-control"
              placeholder="criado em"
            />
          </th>
          <th>
            <input
              name="atualizado por"
              value="{{ item.updated_by }}"
              disabled
              type="text"
              class="form-control"
              placeholder="atualizado por"
            />
          </th>
          <th>
            <input
              name="atualizado em"
              value="{{ item.updated_at }}"
              disabled
              type="text"
              class="form-control"
              placeholder="atualizado em"
            />
          </th>
          <th>
            <button
              type="button"
              class="btn btn-primary"
              onclick="enableEditing('nome{{item.id}}','university{{item.id}}', 'ranking{{item.id}}')"
            >
              editar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-success"
              onclick="save('{{item.id}}')"
            >
              salvar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-danger"
              onclick="destroy('{{item.id}}')"
            >
              deletar
            </button>
          </th>
        </div>
      </form>
      {% endfor %}
    </tr>
  </tbody>
</table>

<script src="{{ url_for('static', filename='scripts/course.js') }}"></script>
{% endblock %}
