<div class="container">
  <mat-card class="filter">
    <h2 class="mb-0 header">Filtro <span>-s</span></h2>

    <form class="mt-2 row" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <mat-form-field class="col-3" appearance="outline">
        <mat-label>de</mat-label>
        <input matInput [matDatepicker]="de" formControlName="from" />
        <mat-datepicker-toggle matSuffix [for]="de"></mat-datepicker-toggle>
        <mat-datepicker #de></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-3" appearance="outline">
        <mat-label>ate</mat-label>
        <input matInput [matDatepicker]="ate" formControlName="to" />
        <mat-datepicker-toggle matSuffix [for]="ate"></mat-datepicker-toggle>
        <mat-datepicker #ate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-5" appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput placeholder="Ex. Pizza" />
      </mat-form-field>

      <div class="col-1 s">
        <button
          mat-fab
          class="search-btn"
          aria-label="Example icon button with a home icon"
          type="submit"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>

  <div class="timeline">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
    ></app-event-card>
  </div>
</div>
