.login-box {
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

.header {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 8px;
  display:inline
}

.header span {
  color: greenyellow;
}

.login-btn {
  background-color: black;
  color: greenyellow
}

