{% extends 'index.html' %} {% block header %}
<h1>{% block title %}Profiles{% endblock %}</h1>
{% endblock %} {% block content %}
<br />

<h3>Criar Profile</h3>

<form class="create-form">
  <div class="input-group mb-3">
    <span class="input-group-text">Nome</span>
    <input
      name="name"
      type="text"
      class="form-control"
      placeholder="nome"
      aria-label="nome"
    />
    <span class="input-group-text">Email</span>
    <input
      name="email"
      type="email"
      class="form-control"
      placeholder="email"
      aria-label="email"
    />
    <span class="input-group-text">Sexo</span>
    <input
      name="sex"
      type="text"
      class="form-control"
      placeholder="Sexo"
      aria-label="Sexo"
    />
    <span class="input-group-text">Idade</span>
    <input
      name="age"
      type="number"
      class="form-control"
      placeholder="Idade"
      aria-label="Idade"
    />
    <span class="input-group-text">Universidade</span>
    <select name="university" class="form-select">
      {% for item in universities %}
      <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Foto de Perfil</span>
    <input
      name="profile_picture"
      type="text"
      class="form-control"
      placeholder="Foto de Perfil"
      aria-label="Foto de Perfil"
    />
    <span class="input-group-text">Matricula Universidade</span>
    <input
      name="university_register"
      type="text"
      class="form-control"
      placeholder="Matricula Universidade"
      aria-label="Matricula Universidade"
    />
    <span class="input-group-text">Curso</span>
    <select name="course" class="form-select">
      {% for item in courses %}
      <!-- Utilizando Jinja Python-->
      <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
    </select>
    <span class="input-group-text">Ranking</span>
    <input
      name="ranking"
      type="number"
      class="form-control"
      placeholder="ranking"
      aria-label="ranking"
    />
    <button type="button" class="me-2 btn btn-primary" onclick="create()">
      criar
    </button>
  </div>
</form>

<table class="table" id="universities">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Sexo</th>
      <th scope="col">Idade</th>
      <th scope="col">Universidade</th>
      <th scope="col">Foto de perfil</th>
      <th scope="col">Matricula</th>
      <th scope="col">Curso</th>
      <th scope="col">Ranking</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in profiles %}
    <tr>
      <form class="form{{item.id}}">
        <div class="input-group mb-3">
          <th scope="row">
            <input name="id" value="{{ item.id }}" hidden />
            <input
              name="name"
              value="{{ item.name }}"
              id="nome{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="nome"
              aria-label="nome"
            />
          </th>
          <th>
            <input
              name="email"
              type="email"
              value="{{ item.email }}"
              id="email{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="email"
              aria-label="email"
            />
          </th>
          <th>
            <input
              name="sex"
              value="{{ item.sex }}"
              id="sex{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="sexo"
              aria-label="sexo"
            />
          </th>
          <th>
            <input
              type="number"
              name="age"
              value="{{ item.age }}"
              id="age{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="idade"
              aria-label="idade"
            />
          </th>
          <th>
            <select
              name="university"
              disabled
              class="form-select {{ item.id }}"
              id="university{{ item.id }}"
            >
              {% for university in universities %} {% if university.id ==
              item.university.id %}
              <option value="{{ university.id }}" selected>
                {{ university.name }}
              </option>
              {% else %}
              <option value="{{ university.id }}">{{ university.name }}</option>
              {% endif %} {% endfor %}
            </select>
          </th>
          <th>
            <input
              name="profile_picture"
              value="{{ item.profile_picture }}"
              id="profile_picture{{ item.id }}"
              disabled
              type="text"
              class="form-control {{ item.id }}"
              placeholder="foto"
              aria-label="foto"
            />
          </th>
          <th>
            <input
              name="university_register"
              value="{{ item.university_register }}"
              id="university_register{{ item.id }}"
              disabled
              class="form-control {{ item.id }}"
              placeholder="matricula"
              aria-label="matricula"
            />
          </th>
          <th>
            <select
              name="course"
              disabled
              class="form-select {{ item.id }}"
              id="course{{ item.id }}"
            >
              {% for course in courses %} {% if course.id == item.course.id %}
              <option value="{{ course.id }}" selected>
                {{ course.name }}
              </option>
              {% else %}
              <option value="{{ course.id }}">{{ course.name }}</option>
              {% endif %} {% endfor %}
            </select>
          </th>
          <th>
            <input
              name="ranking"
              type="number"
              value="{{ item.ranking }}"
              id="ranking{{ item.id }}"
              disabled
              type="number"
              class="form-control {{ item.id }}"
              placeholder="ranking"
              aria-label="ranking"
            />
          </th>
          <th>
            <button
              type="button"
              class="btn btn-primary"
              onclick="enableEditing('nome{{item.id}}','university{{item.id}}', 'email{{item.id}}', 'sex{{item.id}}', 'age{{item.id}}', 'profile_picture{{item.id}}', 'university_register{{item.id}}', 'course{{item.id}}', 'ranking{{item.id}}')"
            >
              editar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-success"
              onclick="save('{{item.id}}')"
            >
              salvar
            </button>
          </th>
          <th>
            <button
              type="button"
              class="btn btn-danger"
              onclick="destroy('{{item.id}}')"
            >
              deletar
            </button>
          </th>
        </div>
      </form>
      {% endfor %}
    </tr>
  </tbody>
</table>

<script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
{% endblock %}
