/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inconsolata, Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(233, 233, 233);
  background-image: url('./assets/body_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  margin-top: 100px;
}
